  <!--=====================================-->
<!--=        Footer Area Start       	=-->
<!--=====================================-->
<footer class="footer-wrap footer-dashboard">
  <div class="main-footer">
    <div class="container">
      <div class="row row-cols-lg-4 row-cols-sm-2 row-cols-1">
        <div class="col">
          <div class="footer-box">
            <div class="footer-logo">
              <a routerLink="/main/home" ><img src="assets/media/logo.png" width="40" alt="Logo"></a>
            </div>
            <p>Dorem ipsum dolor sit amet consec adipisicing elit sed do eiusmod por incidiut labore et loreLorem ipsum kelly amieo dolorey.</p>
          </div>
        </div>
        <div class="col d-flex justify-content-lg-center">
          <div class="footer-box">
            <h3 class="footer-title">
              Important Links
            </h3>
            <div class="footer-link">
              <ul>
                <li><a href="index.html">Terms and condition</a></li>
                <li><a href="about-us.html">Advert</a></li>
         
              </ul>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-lg-center">
          <div class="footer-box">
            <h3 class="footer-title">
              Community
            </h3>
            <div class="footer-link">
              <ul>
                <li><a href="newsfeed.html">Post</a></li>
                <li><a href="user-timeline.html">Community</a></li>
            
              </ul>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-lg-center">
          <div class="footer-box">
            <h3 class="footer-title">
              Followers
            </h3>
            <div class="footer-link">
              <ul>
                <li><a href="https://www.facebook.com/">facebook</a></li>
                <li><a href="https://twitter.com/">twitter</a></li>
         
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-copyright">Copy© 2021. All Rights Reserved</div>
  </div>
</footer>
